.post {
  margin: 0 7%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-start img{
  mix-blend-mode: multiply;
}

.navbar-end {
  margin-left: -30px;
}

.button {
  background-color: #e7e7e700;
  font-size: 16px;
  padding: 10px 40px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.header {
  text-decoration: underline;
  color: black;
  font-size: 20px;
}
.header{
  margin-top: 2%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2%;
}
input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.header-right {
  margin-right: 17%;
}

.type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

.type2 {
  margin-right: 15%;
}

.description {
  margin-top: 1.5%;
  width: 100px;
}

.text{
  width: 1000px;
  height: 100px;
}
.btn{
  margin-top: 2%;
}